google-genai
yt-dlp
ffmpeg-python
python-dotenv
pydantic
rich
typer
loguru
requests
google-genai
pydantic-settings
openai
stable-ts
faster-whisper
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
sarvamai
